/XMGradientPanel/.DS_Store
UserInterfaceState.xcuserstate
/XMGradientPanel_Example.h
/XMGradientPanel_Example.m
/XMGradientPanel.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate
/XMGradientPanel.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/WorkspaceSettings.xcsettings
/.DS_Store
/XMGradientPanel.xcodeproj/xcuserdata/alex.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist